<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="gripper_transmission" params="">
        <transmission name="gripper_trans">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="gripper_vertical_joint">
                <command_interface name="position" />
                <state_interface name="position" />
                <state_interface name="velocity" />
            </joint>
            <joint name="gripper_finger_left_joint">
                <command_interface name="position" />
                <state_interface name="position" />
                <state_interface name="velocity" />
            </joint>
            <joint name="gripper_finger_right_joint">
                <command_interface name="position" />
                <state_interface name="position" />
                <state_interface name="velocity" />
            </joint>
        </transmission>
    </xacro:macro>
</robot>